/*MEDIA QUERIES*/

@media only screen and (max-width: 992px) {
    /*PAGE HOME*/
    .container__galeria {
        width: 90%;
    }

    .box__marcas {
        display: none;
    }
    .carousel-inner, .container__contactanos {
        margin-top: 86px;
    }
     .navbar__eze {
        height: auto;

        .logo {
            width: 70px;
        }
    }
    .d__none {
        display: none;
    }
    .filas__galerias {
        margin: 25px 10px;     
    }

    .footer__box .footer__box__logo {
        width: 150px;
    }

    /*PAGE PERROS*/
    .banner__perro__gato {
        margin-top: 86px;
    }
    .barra__lateral {
        display: none;
    }
    .galeria__perros__gatos {
        margin: 0 5px;
    }
    /*PAGE SERVICIOS*/
    .container__veterinaria img {
        height: auto;
        margin-bottom: 15px;
    }
    .container__veterinaria img:first-child {
        margin-top: 30px;
    }
    .container__especialidades {
        flex-direction: column;
    }
    /*PAGE SUCURSALES*/
    .container__sucursales__iframe iframe {
        @include sizes (100%, 400px);
        margin-top: 55px;
    }
    .container__sucursales__iframe iframe {
        margin-left: 0px;   
    }
    /*PAGE CONTACTO*/
    .quienes__somos h4 {
        text-align: center;
        margin: 25px 0;
    }
    .quienes__somos p {
        text-align: center;
    }
    .quienes__somos button {
        margin: 25px 0;
    }
    .quienes__somos img {
        height: auto;
    }
}   



@media only screen and (max-width: 576px) {
    /*PAGE CONTACTO*/
    .container__formulario {
        width: 95%;
        height: 90vh;
    }   

    .container__formulario {
        height: 600px ;
    }

    .container__formulario:hover {
        height: 605px;  
    }

    .caja__enviar {
        gap: 10px;
    }

    .caja__enviar button {
       margin: 10px;
    }

    .logo__form {
        margin-bottom: 20px;    
    }

    .bg__main {
        height: 100vh;
        background-image: linear-gradient(rgba(5,7,12,0.50), rgba(5,7,12,0.50)),
        url(../assets/contacto/fondoformulario.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .tel__email__oficina {
        height: 100px;
    }

    /*PAGE HOME*/
    .navbar__eze {
        height: auto;

        .logo {
            width: 60px;
        }
    }
    .contact__center {
        height: 24px;
    }
    .d__none {
        display: none;
    }
    .box__info {
        padding: 15px;
    }

    .info__col p {
        font-size: 12px;
    }
    .container__animals {
        @include rellenos (10px, 0);

        .cachorros {
            height: auto;
            padding: 8px;
        }
    }
    
    .registrate__input {
        width: 190px;
        @include rellenos (6px, 5px);
    }

    .footer__box iframe {
        display: none;
    }

    .footer__box .footer__box__logo {
        width: 100px;   
    }

    /*PAGE SUCURSALES*/
    .container__sucursales__iframe{
        margin: 40px 20px;
    }
    .container__sucursales__iframe iframe {
        width: 100%;
        height: 300px;
    }
    .section__sucursales {
        margin: 0rem !important;
    }
    /*PAGE SERVICIOS*/
    .servicios {
        padding: 1rem !important;
    }

}   