//COLORS
$back-primary : #0d6efd;
$nav-link : #42a5ac;
$promos : rgb(238, 46, 46);
$agotado : rgb(32, 25, 25);
$free : rgb(26, 179, 64);
$btn : #198754;
$bg-footer : rgb(216, 208, 208);

//SOMBRAS 
$shadow-title : rgba(0, 0, 0, 0.75) 0px 5px 15px;
$shadow-dog-cat : rgba(65, 65, 66, 0.397) 0px 7px 29px 0px;

