/*PAGINA CONTACTO*/
.container__contactanos {
    margin-top: 105px;
    box-shadow: rgba(0, 0, 255, 0.397) 0px 7px 29px 0px;
}


.bg__main {
    background-image: linear-gradient(rgba(5,7,12,0.50), rgba(5,7,12,0.50)),
    url(../assets/contacto/fondomaincontacto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container__formulario {
    margin-top: 50px;
    height: 550px;
    width: 500px;
    padding: 50px;
    box-shadow: $shadow-title;
    border-radius: 10px; 
    transition: .3s ease-in;

    &:hover {
        height: 555px;
        cursor: pointer;
        box-shadow: rgba(25, 138, 49, 0.801) 0px 5px 15px;    
    }
}

.logo__form {
    width: 70px;    
}


.container__formulario input, textarea {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(#ddcfd8,#fffcdc);

    &:focus {
        outline: none;
    }
}


.container__formulario label {
    margin-bottom: 10px;
    color: aliceblue;
    font-size: 18px;    
}
