/*HEADER - NAVBAR*/
.navbar__eze {
    @include sizes (100%, 105px);
    position: fixed;
    top: 0;
    z-index: 10;

    .logo{
        width: 85px;

        &:hover {
            padding: 2px;
        }
    }

    .nav-link {
        margin: 0 22px;

        &:hover {
            color: $nav-link;
        }
    }

    .navbar-toggler {
        background-color: map-get($bgs, negro);
    }
}

/*HEADER - NAVBAR*/


/*CAROUSEL*/
.carousel-inner {
    margin-top: 105px;
}
/*CAROUSEL*/


/*SECTION INFO GRAL - ENVIOS ETC..*/
.box__info {
    padding: 20px;
}

.info__col {
    @include caja-flex (flex, center, center);
    column-gap: 25px;
    transition: 0.3s ease-in;

    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
}

.info__col i {
    font-size: 36px;
}
/*SECTION INFO GRAL - ENVIOS ETC..*/


/*SECTION ANIMALS*/
.container__animals {
    padding: 20px;
}

.container__animals .cachorros {
    position: relative;
    border-radius: 50%;
    @include sizes (100px, 100px);
    object-fit: cover;
    transition: 0.3s ease-in;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
        border: 3px solid $back-primary;
    }
}


/*SECTION ANIMALS*/


/*PROMOS DEL MES*/
.bg__promos {
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    background-color: $back-primary;
    border-radius: 5px;
    box-shadow: $shadow-title;

    &:hover {
        cursor: pointer;
        background-color: rgb(5, 129, 5);
    }
}
/*PROMOS DEL MES*/


/*GALERIA PRODUCTOS*/
.card__eze {
    view-timeline-name: --reveal;
    animation-name: cards;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;

}

@keyframes cards {
    from {
        opacity: 0;
        scale: 10%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.bg__cards {
    border-radius: 4px;
    background-color: rgb(245, 241, 241);
}

.filas__galerias {
    margin: 15px;
}

.card {
    position: relative;
    transition: 0.1s ease-in;

    &:hover{
        border: 1px solid rgb(39, 37, 37);
        cursor: pointer;  
    }
}

.card-title {
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: 600;
    height: 50px;
}

.card__button {
    font-size: 20px;
    font-weight: bold; 

    &:hover {
        background-color: $agotado;
        border: none;
        color: $nav-link;
    }
}

.card .off {
    @include rellenos (5px, 4px);
    font-weight: bold;
    position: absolute;
    background-color: $promos;
    color: aliceblue;
    border-radius: 15px;
}

.card .off__agotado {
    text-align: center;
    width: 54%;
    margin: 40px 5px;
    padding: 5px;
    font-weight: bold;
    position: absolute;
    background-color: $agotado;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

.card .off__envio {
    text-align: center;
    margin: -70px 70px;
    padding: 10px;
    font-weight: bold;
    position: absolute;
    background-color: $free;
    color: rgb(255, 255, 255);
    border-radius: 50%;
}
/*GALERIA PRODUCTOS*/


/*SECTION MARCAS*/
.container__marcas__col {
    padding: 35px;
    @include caja-flex (flex, center, space-around);

    &:hover {
        cursor: pointer;
    }
}

.container__marcas img {
    @include sizes (125px, 100px);
    object-fit: contain;  
}
/*SECTION MARCAS*/


/*REGISTRATE*/
.registrate__input {
    width: 280px;
    @include rellenos (6px, 10px);
    border-radius: 10px;

    &:focus {
        outline: none;
    }
}
/*REGISTRATE*/


/*FOOOTER*/
.footer__box {
    padding: 25px;

    &__logo {
        width: 190px;
    }

    ul {
        padding-left: 0;
    
        li {
            padding: 4px 0;
            color: rgb(87, 82, 82);
            
            &:hover {
                cursor: pointer;
                color: $btn;
                box-shadow: $shadow-title;
                padding: 4px;
                border-radius: 10px;
            }
        }
    }


    &__mapa {
        border-radius: 5px;
        @include sizes (200px, 200px);
    }
    
}



/*FOOOTER*/
