/*PAGE - SERVICIOS*/
.servicios__title {
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.servicios {
    box-shadow: $shadow-dog-cat;
}

.container__veterinaria img {
    @include sizes (550px, 310px);
    object-fit: cover;
    border-radius: 10px;
    border-left: 7px solid $btn;
    box-shadow: $shadow-title;
}

.container__veterinaria__servicios ul li {
    font-size: 18px;
    margin: 15px 0;
}

.button__vet:hover {
    background-color: $btn;
    transform: scale(1.1);
    border: none;

}

.especialidades__title {
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    color: aliceblue;
    padding: 10px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.container__especialidades {
    @include caja-flex (flex, center,space-around);
    margin: 40px;
}

.box__especialidad img {
    border-radius: 15px;
    width: 85px;
}

.box__especialidad {
    margin: 20px;
    @include caja-flex (flex, center, center);
    flex-direction: column;
  
}

.box__especialidad p {
    padding-bottom: 17px;
    font-size: 16px;
    font-weight: bold;
}
/*PAGE - SERVICIOS*/