/*PAGINA SUCURSALES*/
.sucursales__title {
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
.container__sucursales {
    position: relative;
    height: 620px;
    overflow-y: scroll;
}


.container__sucursales article {
    @include rellenos (20px, 20px);
    background-color: lightgray;
    border-radius: 10px; 

    &:hover {
        cursor: pointer;
        background-color: #e9edc9;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
}

.container__sucursales__iframe iframe {
    @include sizes (100%, 620px);
    border-radius: 5px;
    box-shadow: $shadow-title;
    margin-left: 35px;   
}

.sucursales__icons {
    @include caja-flex (flex, center, space-evenly);
    color: aliceblue;
    background-color: $btn;
    border-radius: 5px;
    padding: 6px;
    margin-top: 15px;
}
/*PAGINA SUCURSALES*/
